<h2>Editar Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
    </div>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
        <%= f.label :password %> <i>(Dejar en blanco si no se quiere editar la contraseña))</i>
        <br />
        <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    
    <div class="field">
        <% @categories.each do |category| %>
        <%= check_box_tag "user[category_ids][]", category.id,
                current_user.categories.include?(category),
                id: dom_id(category) %>
        <%= label_tag dom_id(category), category.name %><br> 
        <br>
        <% end %>
    </div>

      <div class="field">
        <%= f.label :current_password %> <i>(Necesitamos la contraseña actual para aplicar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"btn waves-effect" %>
      </div>
<% end %>