<h2>Perfil del Trabajador</h2>

<div class="row">
	<div class="col">
		<%= image_tag @user.avatar.url(:medium) %>
	</div>
	<div class="col s6">
		<ul>
			<li><%= @user.email %></li>
			<li><%= @user.name %>, <%= @user.last_name %></li>
			<li><%= @user.address %></li>
			<li><%= @user.biography %></li>
			<li><%= link_to 'Puntuar/Opinar', new_user_rating_path(@user) %></li>
			<li>Puntuacion: <%= @average %> </li>	
		</ul>

	</div>
</div>

<div class="divider"></div>

<% @ratings.each do |rating|  %>
	<div class="row">
		<div class="col s2 red">
			<%= rating.score %>
		</div>
		<div class="col s10 blue">
		<% if rating.client_id %>
			<% client = Client.find(rating.client_id) %>
			<%= client.email %>
		<% end %>
		</div>	
	</div>
<% end %>

