<h1>Puntuar
</h1>

<% if client_signed_in? %>
  <%= form_for([@selected_user,@rating]) do |f| %>
    <% if @rating.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :score %><br>
      <%= f.text_field :score %>
    </div>
    <div class="field">
      <%= f.label :commet %><br>
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.hidden_field :client_id, value: current_client.id %>
    </div>
    <div class="actions">
      <%= f.submit 'Puntuar', class:"btn waves-effect" %>
    </div>
  <% end %>
<% else %>
  <%= link_to 'Iniciar sesion con facebook', client_omniauth_authorize_path(:facebook) %>
<% end %>
